<!DOCTYPE html>
<html>
{% extends 'myApp/parent.html' %}
  <body>
    {% block for_child %}
    <h1 style="color:red"><b> Student details </b></h1>
    <table border="2">
      <tr>
        <th> NAME </th>
        <th> USN </th>
        <th> SUBJECT </th>
        <th> MARKS </th>
        <th> EMAIL </th>
        <th> ADDRESS </th>
        <th>UPDATION</th>
        <th>DELETION</th>
      </tr>
      {% for x in stud %}
      <tr>
        <td>{{x.name}}</td>
        <td>{{x.usn}}</td>
        <td>{{x.subjects}}</td>
        <td>{{x.marks}}</td>
        <td>{{x.email}}</td>
        <td>{{x.address}}</td>
        <td><a href="/update/{{x.id}}" class="btn btn-lg btn-warning">UPDATE</a></td>
        <td><a href="/delete/{{x.id}}" class="btn btm-lg btn-danger">DELETE </a></td>
      </tr>
      {% endfor %}
    </table><br><br>
    <center><a href="insert" class="btn btn-lg btn-primary">INSERT </a></center>
    {%endblock%}
  </body>
</html>
